[submodule "3-periodo-estrutura-da-informacao-torres-hanoi"]
	path = 3-periodo-estrutura-da-informacao-torres-hanoi
	url = git@github.com:jevesoniensen/3-periodo-estrutura-da-informacao-torres-hanoi.git
