[submodule "3-periodo-estrutura-da-informacao-torres-hanoi"]
	path = 3-periodo-estrutura-da-informacao-torres-hanoi
	url = file:///D:/dev/github/analise-de-sistemas-2000-2003/3-periodo-estrutura-da-informacao-torres-hanoi
